{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content_title %}
    {{ post.title }}
    <div class="tags">
        {% for tag in tags %}
            <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">
                <span class="badge bg-dark">{{ tag.name }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {{ post.body }}
    <hr align="center" width="500" size="2" color="#000000" />
    <p>Published: {{ post.created }}</p>
{% endblock %}